*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    outline: 0;
}

body {
	-webkit-font-smoothing: antialiased;
    min-width: 320px;
    min-height: auto;
    font-family: sans-serif;
    -webkit-outline: none;
    -moz-outline: none;
    outline: none;   
    background: #121225;
}

::selection {
    background: rgba(106, 148, 135, 0.3);
}